.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.body-container{
  flex-direction: column;
}

.home-container {
  align-items: center;
  display: flex;
  justify-content: center;
}
.home-content{
  align-items: center;
  display: flex;
  height: 65rem;
  justify-content: center;
  width:100%;
}
.profile-content{
  align-items: center;
  display: flex;
  gap: 10rem;
  justify-content: center;
  position: relative;
}

@media (max-width: 900px){
  .home-content{
    flex-direction: column;
    gap: 3rem;
    height: auto;
    text-align: center;
  }
  .profile-content {
    flex-direction: column-reverse;
    gap: 3rem;
    height: auto;
    text-align: center;
  }
}

.profile-img{
  -webkit-animation: morph 8s ease-in-out infinite;
  animation: morph 8s ease-in-out infinite;
  background-image: url(../public/assets/img/logo192.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 250px;
  transition: all 1s ease-in-out;
  width: 250px;
}

.page-content{
  background-color: red;
  width:100%;
  height: 100%;
  padding: 60px 40px;
}


@keyframes morph {
  0% {
			border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
			background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
	} 
	
	50% {
			border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
			background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
	}
  
	100% {
		border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
		background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
	} 
}
