.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.body-container{
  flex-direction: column;
}
.page-content{
  width:100%;
  height: 100%;
  padding: 60px 40px;
}

.home-container {
  align-items: center;
  display: flex;
  justify-content: center;
}
.home-content{
  align-items: center;
}
.profile-content{
  align-items: center;
  display: flex;
  gap: 10rem;
  justify-content: center;
  position: relative;
}

.profile-img{
  animation: morph 8s infinite;
  background-image: url(../public/assets/img/profile_img.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 250px;
  transition: all 1s;
  width: 250px;
}
.tech_stack_home_label{
  border-right: 2px solid gray;
  padding-right:15px;
}

@media (max-width: 900px){
  .profile-content{
    flex-direction: column-reverse;
    gap: 3rem;
    height: auto;
    text-align: center;
  }
  .tech_stack_home {
    flex-direction:column;
    gap:3rem;
  }
  .tech_stack_home_label{
    border-bottom: 2px solid gray;
  }
}

@keyframes morph {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
  }
  25% { 
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    box-shadow: -10px -5px 50px rgba(0,0,0,0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%	;	
  }
}
