.body-container{
  flex-direction: column;
}
.page-content{
  width:100%;
  min-height: 100vh;
  padding: 0px 40px 40px 40px;
}
.page-header{
  padding: 20px 0px;
}
.home-container{
  position: relative;
}
.home-content {
  width:100%;
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  align-items: center;
  display: flex;
  padding-top:70px;
}
.profile{
  align-self: flex-end;
  width:50%;
}
.profile-main h4, .profile-main h1{
  margin-bottom: 3px
}
.profile-img-container{
  width: 50%;
  display: flex;
  justify-content: center;
}
.profile-img{
  animation: morph 8s infinite;
  background-image: url(../public/assets/img/profile_img.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 400px;
  transition: all 1s;
  width: 400px;
}
.social-media-icons{
  font-size: 2rem;
}
.tech_stack_home_label{
  border-right: 2px solid gray;
  border-bottom: none;
  padding-right:15px;
}

@media (max-width: 900px){
  .home-content{
    position:relative;
    flex-direction: column-reverse;
    gap: 3rem;
    padding-top:15px;
    transform: none;
  }
  .profile{
    width:100%;
  }
  .profile-img-container{
    width:100%;
  }
}

@keyframes morph {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
  }
  25% { 
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    box-shadow: -10px -5px 50px rgba(0,0,0,0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%	;	
  }
}

.vertical-timeline-element-icon{
  position:relative;
}
.vertical-timeline-element-icon img{
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}
